<ng-container *transloco="let t; lang: lang; read: 'pages.main'">
  <div class="flex-container">
    <div class="main-container flex-box">
      <div class="tag">{{ t("tag") }}</div>
      <h1 class="header">{{ t("title") }}</h1>
      <div class="description">
        <a
          href="https://www.leibniz-gemeinschaft.de/institute/leibniz-institute-alle-listen/zew-leibniz-zentrum-fuer-europaeische-wirtschaftsforschung"
          target="_blank"
          >ZEW</a
        >
        {{ t("description") }}
      </div>
      <div class="question">{{ t("questions.income-group-year") }}</div>

      @if (media < mediaEnum.LARGE) {
        <div class="income-group-selection">
          <mat-form-field>
            <mat-label>{{ t("terms.income-group") }}</mat-label>
            <mat-select
              [value]="selectedIncomeGroupIndex"
              (selectionChange)="onIncomeGroupChanged($event)"
            >
              @for (incomeGroup of incomeGroups; track incomeGroup) {
                <mat-option [value]="incomeGroup.index"
                  >{{ incomeGroup.annual.selectText }} {{ t("terms.euros") }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      @if (media > mediaEnum.MEDIUM) {
        <div class="income-group-selection">
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="income group"
            [value]="selectedIncomeGroupIndex"
            (change)="onIncomeGroupChanged($event)"
          >
            @for (incomeGroup of incomeGroups; track incomeGroup) {
              <mat-button-toggle [value]="incomeGroup.index"
                >≤ {{ incomeGroup.annual.buttonToggleText }}
                {{ t("terms.euros") }}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      }

      <div class="question">{{ t("questions.income-group-month") }}</div>

      @if (media < mediaEnum.LARGE) {
        <div class="income-group-selection">
          <mat-form-field>
            <mat-label>{{ t("terms.income-group") }}</mat-label>
            <mat-select
              [value]="selectedIncomeGroupIndex"
              (selectionChange)="onIncomeGroupChanged($event)"
            >
              @for (incomeGroup of incomeGroups; track incomeGroup) {
                <mat-option [value]="incomeGroup.index"
                  >{{ incomeGroup.monthly.selectText }} {{ t("terms.euros") }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      @if (media > mediaEnum.MEDIUM) {
        <div class="income-group-selection">
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="income group"
            [value]="selectedIncomeGroupIndex"
            (change)="onIncomeGroupChanged($event)"
          >
            @for (incomeGroup of incomeGroups; track incomeGroup) {
              <mat-button-toggle [value]="incomeGroup.index"
                >≤ {{ incomeGroup.monthly.buttonToggleText }}
                {{ t("terms.euros") }}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      }

      <app-bar-chart
        [datasets]="incomeGroupDatasets"
        [labels]="incomeGroupLabels"
        [vertical]="false"
        [xUnit]="'%'"
        [xSuggestedMin]="-xSuggestedMinMax"
        [xSuggestedMax]="xSuggestedMinMax"
      ></app-bar-chart>

      <div class="footer">
        {{ t("terms.source") }}:
        <a
          href="https://ftp.zew.de/pub/zew-docs/gutachten/Bundestagswahlprogramme_ZEW_2025.pdf"
          target="_blank"
          >Reformvorschläge der Parteien zur Bundestagswahl 2025: Finanzielle
          Auswirkungen</a
        >
        (ZEW – Leibniz-Zentrum für Europäische Wirtschaftsforschung GmbH
        Mannheim)
      </div>
    </div>
  </div>
</ng-container>
