@use "@angular/material" as mat;
@import "../../../styles";

.main-container {
  margin: 30px;
  color: rgb(37, 37, 37);

  font-size: 20px;

  @media #{$breakpoint-large} {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  @media #{$breakpoint-medium} {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  @media #{$breakpoint-small} {
    max-width: calc(100% - 60px);
  }
}

.tag {
  color: mat.m2-get-color-from-palette($accent, 600);
  column-gap: 4px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.header {
  font-size: 42px;
  font-weight: 700;
  margin-top: 4px;
  text-align: center;
}

.description {
  text-align: center;
  margin: 0 auto 32px;
  width: 41.25rem;
}

.question {
  margin: 16px 0 16px;
}

.income-group-selection {
  margin-top: 16px;
}

.party-button {
  padding: 8px;
  margin: 0 8px 16px;
  text-align: center;
  vertical-align: center;
  height: 96px;
}

.grayscale {
  color: grey;
  filter: grayscale(100%);
}

.party-logo {
  max-height: 78px;
  max-width: 108px;
}

.party-label {
  font-weight: 700;
}

.footer {
  margin-top: 64px;
}
