@use "@angular/material" as mat;
@import "../../../styles";

.main-container {
  margin: 30px;
  font-size: 20px;

  @media #{$breakpoint-large} {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  @media #{$breakpoint-medium} {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  @media #{$breakpoint-small} {
    max-width: calc(100% - 60px);
  }
}

.main-container > * > * {
  max-width: 100%;
}

.header,
.selection-container,
.chart-container,
.context-container,
.footer {
  @media #{$breakpoint-large} {
    margin-bottom: 36px;
  }

  @media #{$breakpoint-medium} {
    margin-bottom: 24px;
  }

  @media #{$breakpoint-small} {
    margin-bottom: 24px;
  }
}

.header {
  .tag {
    color: mat.m2-get-color-from-palette($accent, 600);
    column-gap: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .header {
    font-size: 42px;
    font-weight: 700;
    margin-top: 4px;
    text-align: center;
  }

  .description {
    text-align: center;
    margin: 0 auto 32px;
    width: 41.25rem;
  }
}

.description-2 {
  text-align: center;
  margin: 0 auto 32px;
}

.question {
  min-height: 48px;
  margin: 60px 0 16px;
  font-weight: 800;
  text-align: center;

  @media #{$breakpoint-small} {
    margin: 36px 0 16px;
  }
}

.selection-container {
  .time-income-group-selection {
    gap: 32px;

    @media #{$breakpoint-small} {
      gap: 8px;
      align-items: center;
      flex-direction: column;
    }
  }

  .time-format-selection,
  .income-group-selection,
  .party-selection,
  .example-household-selection {
    margin-top: 16px;
  }

  ::ng-deep .mat-button-toggle-group,
  ::ng-deep .mat-button-toggle-group-appearance-standard {
    border: transparent !important;
  }

  ::ng-deep .mat-button-toggle {
    border-top: 1px solid rgb(224.4, 224.4, 224.4);
    border-right: 1px solid rgb(224.4, 224.4, 224.4);
    border-bottom: 1px solid rgb(224.4, 224.4, 224.4);
  }

  $border-radius: 16px;

  ::ng-deep .mat-button-toggle:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  ::ng-deep .mat-button-toggle:first-child {
    border-left: 1px solid rgb(224.4, 224.4, 224.4);
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .separated-button-toggle {
    margin-left: 16px;
    border-right: 1px solid rgb(224.4, 224.4, 224.4);
  }

  .time-format-selection,
  .time-format-button-group {
    @media #{$breakpoint-medium} {
      height: 56px;
    }

    @media #{$breakpoint-small} {
      height: 56px;
    }
  }

  .party-selection {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .party-button {
    padding: 8px;
    margin: 0 8px 16px;
    text-align: center;
    vertical-align: center;
    height: 96px;
    min-width: 128px;
  }

  .grayscale {
    color: grey;
    filter: grayscale(100%);
  }

  .party-logo {
    max-height: 78px;
    max-width: 108px;
  }

  .party-label {
    font-weight: 700;
  }
}

.chart-container {
  min-height: 256px;
}

.context-container {
  margin-top: 48px;
}

.accordion-image {
  max-height: 24px;
}

.footer {
  font-size: 1rem;
}
