<ng-container *transloco="let t; lang: lang; read: 'pages.imprint'">
  <div class="flex-container">
    <div class="main-container flex-box">
      <div>
        <a routerLink="/">{{ t("actions.back") }}</a>
      </div>

      <h2>{{ t("title") }}</h2>

      <h3>{{ t("terms.information") }}</h3>
      <p>Matteo Ramin</p>
      <p>Untere Augartenstraße 37</p>
      <p>1020 Wien</p>

      <h3>{{ t("terms.contact") }}</h3>
      <p>
        {{ t("terms.email") }}:
        <a href="mailto:matteo.ramin@s.wu.ac.at" target="_blank"
          >mailto:matteo.ramin&#64;s.wu.ac.at</a
        >
      </p>

      <h3>{{ t("terms.editorially-responsible") }}</h3>
      <p>Matteo Ramin</p>
      <p>Untere Augartenstraße 37</p>
      <p>1020 Wien</p>

      <h3>{{ t("terms.idea-and-concept") }}</h3>
      <p>Florian Schwanz {{ t("terms.and") }} Matteo Ramin</p>

      <h3>{{ t("terms.implementation") }}</h3>
      <p>Florian Schwanz</p>
    </div>
  </div>
</ng-container>
