.flex-container {
  display: flex !important;
}

.flex-container-vertical {
  display: flex !important;
  flex-direction: column;
}

.flex-horizontal-center {
  align-items: center;
  justify-content: center;
}

.flex-box {
  flex-grow: 1 !important;
}
