@use "@angular/material" as mat;
@import "theme.scss";
@import "sizes.scss";
@import "flex.scss";

@include mat.all-component-themes($theme-light);

.theme-light {
  //@include mat.all-component-themes($theme-light);

  a {
    color: rgb(37, 37, 37) !important;
    text-decoration-style: dotted;
  }
}

.theme-dark {
  @include mat.all-component-colors($theme-dark);

  a {
    color: #ffffff;
    text-decoration-style: dotted;
  }

  // FIXME: Figure out why these overrides are necessary

  .mat-toolbar {
    color: #ffffff !important;
    background: #212121 !important;
  }

  .mat-button {
    color: #ffffff !important;
    background: transparent !important;
  }
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  //min-height: 200vh;
  color: mat.m2-get-color-from-palette(mat.$m2-grey-palette, 800);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5em;
  overflow-x: hidden;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 40pt;
  line-height: 1.2em;
}

h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0.25em 0;
  margin-top: 2em;
  line-height: 1.2em;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: underline;
  margin: 0.75em 0 0.25em !important;
  line-height: 1.2em !important;
}

a:hover {
  color: mat.m2-get-color-from-palette($accent, 600);
}

.mdc-button,
.mdc-raised-button,
.mdc-flat-button,
.mdc-stroked-button,
.mdc-icon-button,
.mdc-fab,
.mdc-mini-fab {
  letter-spacing: normal !important;

  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

*:focus {
  outline: none;
}
